.selected-entity {
  background-color: #eee;
}

.AdminPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 24, 24);
  color: white;
  padding-left: 40px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.AdminPanel__container__artists button{
  background-color: #1DB954;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  padding: 0 20px;
  margin: 10px 0;
}

AdminPanel__container__artists ModalButton{
  background-color: #1DB954;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  padding: 0 20px;
  margin: 10px 0;
}

.AdminPanel__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.AdminPanel__container__left,
.AdminPanel__container__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.AdminPanel__container__left {
  align-items: flex-start;
  margin-right: 40px;
}

.AdminPanel__container__left__text {
  margin-bottom: 40px;
}

.AdminPanel__container__artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.AdminPanel__container__artists__heading {
  width: calc(100% - 24px);
  border-bottom: 1px solid #ccc;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block;
}

.AdminPanel__container__artists__heading::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin-top: 5px;
}

.AdminPanel__container__artists__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.AdminPanel__container__artists__name,
.AdminPanel__container__artists__album__title {
  font-size: 24px;
  text-decoration: none;
}

.AdminPanel__container__artists__name:hover,
.AdminPanel__container__artists__album:hover,
.AdminPanel__container__artists__album__title:hover {
  cursor: pointer;
  color: #00ff7f;
}

.AdminPanel__container__artists__name:hover {
  text-decoration: underline;
}

.AdminPanel__container__artists__albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% - 24px);
}

.AdminPanel__container__artists__album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.AdminPanel__container__artists__album__info {
  font-size: 16px;
  margin-bottom: 10px;
}

.AdminPanel__container__artists__album__songs {
  font-size: 1rem;
}

.AdminPanel__container__artists__album:hover,
.AdminPanel__container__artists__album__title:hover {
  box-shadow: 0 8px 16px rgba(0, 255, 127, 0.2);
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1db954;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}


.AdminPanel__artist-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.album_entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
#root > div.App > div.AdminPanel > div > div:nth-child(3) > button{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border-radius: 10%;
  background-color: #1db954;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  cursor: pointer;
}