.selected-entity {
    background-color: #eee;
  }
  
  .AdminPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 40px;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .AdminPanel__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .AdminPanel__container__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-right: 40px;
  }
  
  .AdminPanel__container__left__text {
    margin-bottom: 40px;
  }
  
  .AdminPanel__container__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .AdminPanel__container__artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .AdminPanel__container__artists__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .AdminPanel__container__artists__name {
    font-size: 24px;
    margin-right: 20px;
  }
  
  .AdminPanel__container__artists__albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(100% - 24px);
  }
  
  .AdminPanel__container__artists__album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .AdminPanel__container__artists__album__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .AdminPanel__container__artists__album__info {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .AdminPanel__container__artists__album__songs {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
  }
  
  .AdminPanel__container__artists__album__songs ul {
    list-style-type: none;
    margin-left: 0;
  }
  
  .AdminPanel__container__artists__album__songs li {
    margin-bottom: 5px;
  }