.SongRowAP {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.songDetails {
  display: block;
  height: 100%;
  width: 100%;
  color: black;
  border: 1px solid black;
}

.songTitle {
  font-size: x-large;
}

.songAlbum {
  font-size: small;
}
